@font-face{
	font-family: 'Lemon';
	src: url('../font/Lemon Juice.otf');
}

@font-face{
	font-family: 'MomB';
	src: url('../font/MomcakeBold.otf');
}

@font-face{
	font-family: 'MomT';
	src: url('../font/MomcakeThin.otf');
}

@font-face{
	font-family: 'Sweet';
	src: url('../font/Sweet Honeymoon.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


header{
	display: inline;
}

main{
	overflow: auto;
	padding: 30px;
}

aside{
	float: right;
	width: 35%;
	padding-left: 20px;
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

footer{
	text-align: center;
	font-weight: bold;
	background-color: #2f2519;
	color: #f4f6ff;
	padding: 0.5px;
}

section{
	padding-top: 10px;
}

section p{
	margin-left: 50px;
	margin-right: 50px;
}

/* FONT */
h1{
	font-size: 100px;
}
h2,h3{
	font-family: 'Mom',sans-serif;
	font-weight: bold;
	color: #2f2519;
}
h2{
	font-size: 30px;
}
h3{
	text-align: center;
	font-size: 25px;
}

p a{
	text-decoration: none;
	color: #2f2519;
}

#jumbotron p{
	font-family: 'Patrick Hand';
	font-size: 22px;
}

#content p{
	color: #2f2519;
	font-size: 24px;
}


/* END FONT */

nav{
	background-color: #fff48f;
	padding: 1px;
	position: sticky;
	top: 0;
}

nav a{
	font-family: 'MomT',sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
	color: #2f2519;
}

nav li{
	list-style-type: none;
	display: inline;
	margin: 0 10px;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	transition: all 0.2s;
	transition-delay: 0.2s;
}

nav li::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background-color: #2f2519;
	transition: all 0.2s;
}

nav li:hover::before{
	background-color: #ffffdd;
}

nav li:hover{
	background: #ffffdd;
}

nav a:hover{
	font-family: 'MomB',sans-serif;
	font-weight: bold;
}

ul{
	list-style: none;
	display: flex;
}



.button{
	font-family: sans-serif;
	text-align: center;
	top: 50%;
	left: 50%;
	width: 150px;
	padding: 20px;
	font-size: 18px;
	font-weight: 400;
	border: 5px solid #ffff;
	cursor: pointer;
	border-radius: 30px;
	background-color: #2f2519;
}

.button:hover{
	font-weight: bold;
	position: relative;
	top: 5px;
	left: 5px;
}

.original{
	color: white;
}

.greentea{
	background-color: #bac964;
	color: white;
}

.gulahalus{
	background-color: #f5f5f5;
	color: black;
}

.strawberry{
	background-color: #fc9d9d;
	color: white;
}

.tiramisu{
	background-color: #f0ece3;
	color: black;
}

.reset{
	background-color: #98ded9;
}

.left{
	margin-left: 10%;
}

.leftCenter{
	margin-left: 30%; 
}

.biodata th,td{
	padding: 5px;
}

.biodata th{
	font-family: 'MomB',sans-serif;
}

.biodata td{
	font-family: 'Mom',sans-serif;
}

.harga table{
	text-align: center;
	font-family: sans-serif;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

.harga th{
	padding: 16px;
	background-color: #2f2519;
	color: white;
}

.harga tr:nth-child(even) {
   background-color: #fff48f;
}

.jumbotron{
	padding: 120px;
	font-family: 'Lemon',sans-serif;
	font-size: 50px;
	background-color: #2f2519;
	text-align: center;
	color: #f4f6ff;
}

.gambar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.profile header{
	text-align: center;
}

.profile img {
   width: 200px;

}

#content{
	float: left;
	width: 65%;
}

.aside-brown{
	background-color: #2f2519;
	color: #fff48f;
}

/* menyesuaikan pada perangkat device di bawah 1000px 
	agar elemen aside berada di bawah #content
*/
@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
   }
}
